<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />
    <title>DELEGATION OF AUTHORITY MANDATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <style type="text/css">
    .bill-table table td, .bill-table table th { padding: 5px !important; }
    .product-table th, .product-table td { padding: 10px !important; }
  </style>
  <body>
    <div class="pdf-header">
      <div class="container">
        <h2
          style="font-size: 36px; font-weight: bold; padding-left: 6%;text-align:center;background-color: rgb(255, 55, 88)"
        >DELEGATION OF AUTHORITY MANDATE</h2>
      </div>
    </div>

    <div class="main-table" style="max-width: 80%; margin: 0 auto;">
      <div class="container">
        <div class="bill-table">
          <p>
            This Delegation of Authority Mandate ("Mandate") is made effective
            as of [Ins ert Date], by [Insert Name of Legal Representative]
            ("Delegator"), the legal representative of [Insert Company Name]
            ("Company"), a corporation organized and existing under the laws of
            [Insert Jurisdiction], with its principal office located at [Insert
            Company Address], and [Insert Name of Employee] ("Delegatee"), an
            employee of the Company.
          </p>

          <p>
            WHEREAS, the Delegator is duly authorized to enter in to binding
            agreements on behalf of the Company and wishes to delegate certain
            of these powers to the Delegatee for the purposes of managing and
            executing a legal financing contract with "Indemnisez Moi," a legal
            financing company represented by Mr. Mathias REY, located at 62 rue
            Danton, 92300 Levallois-Perret, and related judicial actions;
          </p>

          <p>
            NOW, THEREFORE, the parties hereby agree as follows:
          </p>
          <p> Delegation of Authority: </p>
          <p>
            The Delegator hereby delegates to the Delegatee the authority to:
            Negotiate, execute, and deliver a legal financing contract with
            "Indemnisez Moi" on behalf of the Company.</p>
          <p>
            Make all necessary decisions related to the judicial actions
            financed under the said contract, including but not limited to,
            strategy decisions, settlement negotiations, and acceptance of
            judgment.
          </p>
          <p>
            Scope and Limitations:
          </p>
          <p>
            This delegation is strictly limited to the activities necessary for
            the effective execution and management of the financed judicial
            actions as outlined herein.
          </p>
          <p>
            The Delegatee shall not have the authority to bind the Company in
            any other matter without specific written authorization from the
            Delegator.

          </p>
          <p>
            Obligations of the Delegatee:
          </p>

          <p>
            The Delegatee agrees to act in the best interests of the Company at
            all times. The Delegatee shall provide regular updates to the
            Delegator regarding the progress and status of the legal actions and
            any significant decisions made under this mandate.
          </p>
          <p> Duration of the Mandate: </p>
          <p>
            This Mandate shall commence on the effective date above and shall
            continue in effect for a period of one year. It shall be
            automatically renewed for successive one-year periods unless
            terminated by either party with [Insert number of days] days written
            notice prior to the end of the current term.
          </p>
          <p>
            Governing Law and Jurisdiction:
          </p>
          <p>
            This Mandate shall be governed by and construed in accordance with
            the laws of France.
          </p>
          <p>
            Any disputes arising out of or related to this Mandate shall be
            subject to the exclusive jurisdiction of the courts of Nanterre,
            France.
          </p>
          <p>
            Miscellaneous:
          </p>
          <p>
            Any amendments to this Mandate must be made in writing and signed by
            both parties.
          </p>

          <p>
            IN WITNESS WHEREOF, the parties hereto have executed this Delegation
            of Authority Mandate as of the day and year first above written.
          </p>
          <p>
            [Signature of Delegator]
          </p>

          <p>
            Name: [Insert Name]
          </p>

          <p>
            Title: [Insert Title]
          </p>

          <p>
            [Company Name]
          </p>
          <p>
            [Signature of Delegator]
          </p>

          <p>
            Name: [Insert Name]
          </p>

          <p>
            Title: [Insert Title]
          </p>

          <p>
            [Company Name]
          </p>

        </div>

      </div>
    </div>
  </body>
</html>