.graph_dev{
    display: flex !important;
    width: 65% !important;
    /* align-items: center !important; */
    flex-direction: column !important;
    /* justify-content: space-around !important; */
}
.graph_input{
    /* width: 50% !important; */
    border-radius: 12px !important;
}

